form {
  height: 100vh;
  display: flex;
}

fieldset {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  align-items: center;
  margin: auto;
  background-color: #e2b659;
  border-radius: 10px;
  -webkit-box-shadow: 6px 10px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 6px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

fieldset legend {
  font-size: 1.5rem;
  text-align: center;
}

#peso,
#altura {
  width: 50px;
  overflow: hidden;
  font-size: 1rem;
}
.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 0.6em;
  color: #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.btn:hover,
.btn:focus {
  color: #000;
  outline: 0;
}

button {
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  border-radius: 5px;
}

button:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

label {
  margin: 10px 0px;
  font-size: 1.1rem;
}
#resultado {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 200px;
  font-size: 1.2rem;
  color: #fff;
  background-color: black;
  border-radius: 10px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 15px;
}
